<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsXwueh0B0FZLfv_pWNd10wpaQFcM-1Hc</string>
	<key>GCM_SENDER_ID</key>
	<string>628956767592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yerass11.UMit</string>
	<key>PROJECT_ID</key>
	<string>umit-12025</string>
	<key>STORAGE_BUCKET</key>
	<string>umit-12025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628956767592:ios:ecd85df912f459c785a2dd</string>
</dict>
</plist>